@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f5f6; /* white (snow) */
  --foreground: #0a0a0a; /* black (rich) */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}
